<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITreintijden" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://xanderwemmers.nl/Treintijden.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITreintijden" contract="ServiceReference1.ITreintijden"
                name="BasicHttpBinding_ITreintijden" />
        </client>
    </system.serviceModel>
</configuration>